<header>
    <nav>
        <div class="logo">
            <a href="{{ path('app_main') }}">
                <img src="{{ asset('img/logo/logo.png') }}" alt="PhpSquad Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ path('app_main') }}">Accueil</a></li>
            <li><a href="{{ path('app_3d_dashboard') }}">3D</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            {% if app.session.get('user_email') %}
                <li><a href="{{ path('app_logout') }}" class="btn-auth">🚪 {{ app.session.get('user_email') }} - Logout</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}" class="btn-auth">🎮 Connexion Combo</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
